/* Estilos para el título h2 */
h2 {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

/* Estilos para el título h4 dentro de #pokeContent */
#pokeContent h4 {
    color: #000000;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-style: italic;
    font-size: larger;
    font-family: sans-serif;
    margin: 0;
}

/* Contenedor principal de los Pokémon */
#poke-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Contenedor de cada Pokémon */
#pokemon {
    margin: 10px;
    width: 100%;
    background-color: #c1c6c3;
    border-radius: 10px;
    overflow: hidden;
}

/* Imagen de cada Pokémon */
#pokeImage img {
    width: 100%;
    max-width: 95%;
    border-radius: 5%;
    margin: 3%;
    background: radial-gradient(circle, rgba(255, 241, 184, 0.993) 5%, rgba(203, 189, 132, 1) 100%);
    overflow: hidden;
}

/* Contenido de cada Pokémon */
#pokeContent {
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 0;
    min-height: 100px;
    border-radius: 5%;
    margin: 3%;
    margin-bottom: 20px;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 50%, rgba(226, 226, 226, 1) 100%);
}

/* Lista de atributos del Pokémon */
#pokeContent ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#pokeContent ul li {
    margin-right: 10px;
}

/* Estilos para los datos del Pokémon */
#pokeNumber:before,
#pokeContent ul:before,
#pokeHeight:before,
#pokeWeight:before {
    font-weight: bold;
    font-family: sans-serif;
}

/* Agrega el prefijo "Code" */
#pokeNumber:before {
    content: "Code:\00a0";
}

/* Agrega el prefijo "Type" */
#pokeContent ul:before {
    content: "Type:\00a0";
}

/* Agrega una coma después de cada elemento de la lista */
#pokeContent ul li:not(:last-child)::after {
    content: ",\00a0";
}

/* Agrega el prefijo "Height" */
#pokeHeight:before {
    content: "Height:\00a0";
}

/* Agrega la unidad "m" para la altura */
#pokeHeight:after {
    content: "\00a0m";
}

/* Agrega el prefijo "Weight" */
#pokeWeight:before {
    content: "Weight:\00a0";
}

/* Agrega la unidad "kg" para el peso */
#pokeWeight:after {
    content: "\00a0kg";
}

/* Espaciado entre los datos*/
#pokeHeight{
    display: inline-block;
    clear: right;
}
#pokeWeight {
    float: right;
}


/* Media query para dispositivos de hasta 600px */
@media only screen and (max-width: 600px) {
    #pokeImage img {
        max-width: 100%;
        height: auto;
    }
}

/* Media queries para ajustar el ancho de los elementos #pokemon basado en el ancho de la pantalla */
@media only screen and (min-width: 601px) and (max-width: 800px) {
    #poke-container > #pokemon {
        width: calc(50% - 20px); /* Ajusta para dos columnas, restando los márgenes */
    }
}

@media only screen and (min-width: 801px) {
    #poke-container > #pokemon {
        width: calc(25% - 20px); /* Ajusta para cuatro columnas, restando los márgenes */
    }
}
